body{
    background-color: #1B1C31;
}
.menu{
    background-color: #222338;
    width: 1114px;
    height: 182px;
    border-radius: 10px;
    margin: 44px 301px;
}
.title{
    color: #EBEDFA;
   margin: 48px 32px;
    font-size: 24px;
    height: auto;
    line-height: 150%;
    display: inline-block;
}
.notif{
    
  margin-left: 722px;
}
.profil{
    margin-left: 24px;
}
.trasparent{
background-color: #222338;
border-radius: 10px;
border-color: #EBEDFA;
text-decoration-color: #EBEDFA;
padding: 14px 28px;
margin-left: 32px;
position: relative;
padding-right: 200px;
padding-left: 1px;
bottom: 26px;
}
.Search{
    position: relative;
    bottom: 26px;
    right: 40px;
}

